<!DOCTYPE html>
<html lang="Fr-fr" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title th:text="${titrePage}">HarmoGestion : Liste des membres</title>
  </head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="container">
      <h1 th:text="#{titre.titrePrerempli}">Titre</h1>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>